# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
.venv/
venv/
ENV/

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log

# Rapports generes
reports/*.json

# Sauvegardes locales
backups/**
!backups/.gitkeep

# Manifestes generes localement
firmware/generated_*.json

# Autres
.idea/
.vscode/
